@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .color-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 216, 196, 0.11);
    pointer-events: none;
  }
}

@layer utilities {
  .texture-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/noise-texture.png"); /* Replace with your texture image path */
    background-size: cover;
    opacity: 0.15;
    pointer-events: none;
  }
}

html {
  font-size: calc((100vw / 1440) * 16);
  box-sizing: border-box;
  font-variation-settings: "wght" 500;
}

.preloader__loading_text {
  font-variation-settings: "wght" 400;
}

@media (max-width: 768px) {
  html {
    font-size: calc((100vw / 768) * 16);
  }
}

.test {
  margin-top: 12rem;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}
